Repository utsavjnn/LADC-NITJ, pull requests merged in 2021-03, with the labels that each got.

#22 Blog Work
  assets/css/blog.css
  assets/scripts/adminBlog.js
  controllers/adminBlog.js
  controllers/admin_controller.js
  controllers/blog_controller.js
  models/blog.js
  package-lock.json
  routes/admin.js
  routes/blog.js
  views/_header.ejs
  views/adminBlog.ejs
  views/blog.ejs
Labels: blog

#23 added alumni modal and image
  .vscode/settings.json
  assets/css/alumni.css
  assets/css/blog.css
  assets/images/user_default.png
  assets/scripts/adminBlog.js
  assets/scripts/alumni.js
  assets/scripts/blog.js
  config/mongoose.js
  controllers/admin_controller.js
  controllers/alumni_controller.js
  controllers/blog_controller.js
  index.js
  models/alumni.js
  models/blog.js
  package.json
  routes/admin.js
  routes/alumni.js
  routes/blog.js
  views/admin.ejs
  views/alumni.ejs
  views/blog.ejs
Labels: blog and alumni modal

#26 Alumnifrontenddesign
  assets/css/alumni.css
  assets/css/footer.css
  assets/css/header.css
  assets/scripts/alumni.js
  controllers/events_controller.js
  views/_footer.ejs
  views/_header.ejs
  views/alumni.ejs
Labels: alumni frontend

#35 Changes to blog ui
  assets/css/blog.css
  assets/scripts/blog.js
  views/blog.ejs
Labels: blog ui

#37 Membership Page
  assets/css/membership.css
  assets/scripts/membership.js
  controllers/membership_controller.js
  models/member.js
  routes/membership.js
  views/adminMember.ejs
  views/membership.ejs
Labels: membership page
