Repository utsavjnn/LADC-NITJ, pull requests merged in 2021-02, with the labels that each got.

#9 Newsletter Model
  .gitignore
  assets/css/newsletter.css
  config/mailing.js
  config/mongoose.js
  controllers/newsletter_controller.js
  index.js
  models/newsletter.js
  package-lock.json
  package.json
  routes/index.js
  routes/newsletter.js
  views/_header.ejs
  views/newsletter.ejs
Labels: Newsletter

#10 Homepageandevents
  assets/css/header.css
  assets/css/home.css
  assets/images/ladclogo.png
  assets/scripts/header.js
  views/_header.ejs
  views/home.ejs
  views/layout.ejs
Labels: Ladc Logo

#12 Homepageandevents
  assets/css/about.css
  assets/css/events.css
  assets/css/footer.css
  assets/css/header.css
  assets/css/home.css
  assets/css/layout.css
  assets/css/newsletter.css
  assets/scripts/about.js
  index.js
  views/_footer.ejs
  views/_header.ejs
  views/about.ejs
  views/admin.ejs
  views/events.ejs
  views/newsletter.ejs
Labels: carousel, homepageUI
